.dropdownContainer {
    position: relative;
    display: inline-block;
}

.dropdownMenu {
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: var(--background);
    border: 1px solid var(--background-opacity);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    min-width: 120px;
    padding: 2px;

    .dropdownHeader {
        padding: 10px;
        font-weight: bold;
    }
}