.dashboardpage {
    width: 100%;
    overflow: auto;

    &_header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: calc(100vh - 30px);
        border-radius: 25px;
        margin: 15px;

        h1 {
            font-family: "Handjet", sans-serif;
            font-size: 5rem;
            font-weight: 600;
        }
    }

    &_content {
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        height: 100%;
    }
}

.taskTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 0.9rem;
    text-align: left;

    th {
        font-size: 0.8rem;
        opacity: 0.6;
    }

    th, td {
        padding: 0.5rem;
        border-bottom: 1px solid var(--background-opacity);
    }

    tbody tr {
        cursor: pointer;
        &:hover {
            background-color: var(--background-opacity);
        }
    }
    td {
        color: var(--foreground);
    }

    td:first-child {
        font-weight: bold;
    }
}



.badge {
    display: inline-block;
    padding: 3px 7px;
    border-radius: 12px;
    opacity: 0.9;
    font-size: 0.8rem;
    width: fit-content;
    font-weight: 600;
}

.toStart {
    background-color: var(--status-to-start);
}

.inProgress {
    background-color: var(--status-in-progress);
}

.done {
    background-color: var(--status-done);
}



.viewSwitcher {
    margin-bottom: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.galleryItem {
    border: 1px solid var(--background-opacity);
    border-radius: 10px;
    padding: 15px;
    flex: 1 1 calc(33% - 20px);
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
        background: var(--background-opacity);
    }

    h3 {
        margin: 0 0 10px;
        font-size: 1.2rem;
    }

    span {
        display: block;
        margin-bottom: 10px;
    }
}
