.dashboardpage {
    width: 100%;
    overflow: auto;

    &_header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: calc(100vh - 30px);
        border-radius: 25px;
        margin: 15px;

        h1 {
            font-family: "Handjet", sans-serif;
            font-size: 5rem;
            font-weight: 600;
        }
    }

    &_content {
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        max-width: 100%;
        height: 100%;
        transition: all 0.5s ease-in-out;
        margin: 0 auto;

        &.small {
            width: 100%;
            max-width: 800px;
            transition: all 0.5s ease-in-out;
            margin: 0 auto;
        }
    }
}


.badge {
    display: inline-block;
    padding: 3px 7px;
    border-radius: 12px;
    opacity: 0.9;
    font-size: 0.8rem;
    width: fit-content;
    font-weight: 600;
}

.toStart {
    background-color: var(--status-to-start-bg);
    color: var(--status-to-start);
}

.inProgress {
    background-color: var(--status-in-progress-bg);
    color: var(--status-in-progress);
}

.done {
    background-color: var(--status-done-bg);
    color: var(--status-done);
}

.databaseHeader {
    display: flex;
    border-bottom: 1px solid var(--background-opacity);
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

.viewSwitcher {
    display: flex;
    gap: 5px;
}