.kanban {
    display: flex;
    overflow-x: auto;

    &Column {
        flex: 1;
        min-width: 250px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &Header {
        display: flex;
        gap: 7px;
        align-items: center;
        margin: 5px 0 10px;
    }

    &Item {
        border: 1px solid var(--background-opacity);
        border-radius: 10px;
        padding: 10px;
        transition: background-color 0.2s;
        background-color: var(--background-opacity);
        position: relative;
        display: flex;
        gap: 10px;
        flex-direction: column;

        &Actions {
            position: absolute;
            top: 5px;
            right: 5px;
            z-index: 5;
            opacity: 0;
            background: var(--background-opacity);
            border:1px solid var(--border-color);
            border-radius: 5px;
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        &:hover {
            .kanbanItemActions {
                opacity: 1;
            }

        }

        &Header {
            display: flex;
            justify-content: space-between;
            position: relative;
            gap: 2px;


            p {
                display: flex;
                gap: 10px;
                margin-right: auto;
                text-overflow: ellipsis;
                overflow-wrap: break-word;
                font-weight: bold;
                font-size: 0.9rem;
            }

        }

       
    }



}