
.modal {
    position: fixed;
    top: 0;
    right: 0;
    min-width: 600px;
    max-width: 800px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 106;
    transition: all 0.5s ease-in-out;
}

.modalContent {
    width: 100%;
    right: 0;
    background: var(--background);
    color: var(--foreground);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    height: 100vh;
    border-left: 1px solid var(--background-opacity);
    position: relative;
    overflow: auto;

    form {
        padding: 5px 30px;

        .actions {
            position: absolute;
            top: 10px;
            right: 10px;
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }


}

.eventTitleInput {
    font-size: 2rem;
    border: none;
    padding: 0;
    font-weight: 700;
    outline: none;

}

.eventProperties {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.eventPropertyInput {
    display: flex;
    align-items: center;

    label {
        font-weight: 600;
        opacity: 0.6;
        padding: 0.5rem !important;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;

        svg {
            height: 0.9rem;
            width: auto;
        }
    }

    label,
    input,
    select {
        font-size: 0.9rem;
        border: none;
        padding: 0;
        width: 50%;
    }

    select {
        display: inline-block;
        padding: 3px 7px;
        border-radius: 12px;
        opacity: 0.9;
        font-size: 0.8rem;
        width: fit-content;
        font-weight: 600;

        &.toStart {
            background-color: var(--status-to-start-bg);
            color: var(--status-to-start);
        }
        
        &.inProgress {
            background-color: var(--status-in-progress-bg);
            color: var(--status-in-progress);
        }
        
        &.done {
            background-color: var(--status-done-bg);
            color: var(--status-done);
        }
    }
}

.eventTextarea {
    resize: none;
    height: 100%;
    min-height:500px;
    border: none;
    padding: 5px 0;
    outline: none;
}