.navbar {
    width: 100%;
    height: fit-content;
    padding: 12px 15px;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: sticky;
    gap: 10px;
    top: 0;
    border-bottom: 1px solid var(--background-opacity);
    z-index: 104;
}