@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

// light mode (default)
:root {
    --background: #ffffff;
    --background-opacity: #f7f7f7;
    --foreground: #171717;
    --border-color: #e2e2e2;

    // status colors
    --status-to-start-bg: #ff4d4d7c;
    --status-in-progress-bg: #ffc3427c;
    --status-done-bg: #71db6c7c;
    --status-to-start: #861010;
    --status-in-progress: #825f14;
    --status-done: #12650d;

}

[data-theme='dark'] {
    --background: #0a0a0a;
    --background-opacity: #171717;
    --foreground: #ededed;
    --border-color: #333333;

    --status-to-start: #ffc4c4;
    --status-in-progress: #ffeabd;
    --status-done: #c1ffbe;
}

html {
    background-color: var(--background);
}

body {
    font-family: 'Switzer', sans-serif;
    color: var(--foreground);
    background: var(--background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    display: flex;
    width: 100%;
    height: 100vh;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

svg {
    fill: var(--foreground);
    stroke: var(--foreground);
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-family: 'Handjet', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 300px;
}

.form_message {
    font-size: 0.9rem;
    margin: 10px;
    font-weight: 500;
    opacity: 0.5;
}

button,
.button,
input[type="submit"] {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid var(--foreground);
    color: var(--background);
    background-color: var(--foreground);
    border-radius: 4px;
    padding: 8px 15px;
    font-size: 0.9rem;
    font-weight: 600;
    font-family: 'Switzer', sans-serif;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    height: fit-content;


    // diabled
    &.disabled {
        opacity: 0.3 !important;
        cursor: default !important;

    }

    svg {
        fill: var(--background);
        stroke: var(--border-color);
        height: 0.9rem;
        width: auto;
    }

    &:hover {
        color: var(--border-color);

        svg {
            fill: var(--border-color);
            stroke: var(--border-color);
        }
    }

    &.primary {
        justify-content: center;
    }


    &.secondary {
        border: 1px solid var(--border-color);
        color: var(--foreground);
        background-color: var(--background);
        padding: 5px 10px;

        &_square {
            padding: 7px 9px;
        }

        svg {
            fill: var(--foreground);
            stroke: var(--foreground);
            // height: 1rem;
            height: 0.9rem;
            width: auto;
        }

        &.active {
            background-color: var(--background-opacity);
        }

        &:hover {
            background-color: var(--border-color);
            color: var(--foreground);
        }
    }



    &.tertiary {
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        color: var(--foreground);
        font-weight: 700;
        background-color: transparent;
        font-size: 0.9rem;
        opacity: 0.6;

        &_square {
            padding: 7px 9px;
        }

        svg {
            fill: var(--foreground);
            stroke: var(--foreground);
        }

        &:hover {
            background-color: var(--border-color)
        }

        &.active {
            opacity: 1;
        }

    }

    &.link {
        border: none;
        padding: 0;
        color: var(--foreground);
        font-weight: 500;
        background-color: transparent;
        font-size: 0.9rem;
        opacity: 0.8;

        svg {
            fill: var(--foreground);
            stroke: var(--foreground);
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

input,
textarea,
select,
option {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 10px;
    font-size: 0.9rem;
    width: 100%;
    box-sizing: border-box;
    background: none;
    color: var(--foreground);
    font-family: "Switzer", sans-serif;
}

::placeholder {
    color: #888; // Gris clair pour les placeholders
}

#transition-element {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--foreground);
    z-index: 10;
    top: 0;
    left: 0;
}

.themebutton {
    border-radius: 80%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 14px;
    height: fit-content;
    display: flex;
    height: 48px;
    width: 48px;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

span.small {
    font-weight: 600;
    font-size: 0.9rem;
    opacity: 0.5;

    display: flex;
    align-items: center;
    gap: 5px;

    svg {
        height: 0.9rem;
        width: auto;
        fill: var(--foreground);
    }

    &.old {
        opacity: 0.3;
    }
}