@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --background-light: #ffffff;
    --background-opacity-light: #f2f2f2;
    --foreground-light: #171717;
    --border-color-light: #cccccc;

    --background-dark: #0a0a0a;
    --background-opacity-dark: #111111;
    --foreground-dark: #ededed;
    --border-color-dark: #333333;

    --background: var(--background-light);
    --background-opacity: var(--background-opacity-light);
    --foreground: var(--foreground-light);
    --border-color: var(--border-color-light);
}

[data-theme='dark'] {
    --background-opacity: var(--background-opacity-dark);
    --background: var(--background-dark);
    --foreground: var(--foreground-dark);
    --border-color: var(--border-color-dark);
}

html {
    background-color: var(--background);
}

body {
    font-family: 'Switzer', sans-serif;
    color: var(--foreground);
    background: var(--background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    display: flex;
    width: 100%;
    height: 100vh;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-family: 'Handjet', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 300px;
}

.form_message {
    font-size: 0.9rem;
    margin: 10px;
    font-weight: 500;
    opacity: 0.5;
}

button,
.button,
input[type="submit"] {
    display: inline-block;
    border: 1px solid var(--foreground);
    color: var(--background);
    background-color: var(--foreground);
    border-radius: 4px;
    padding: 8px 15px;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Switzer', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    height: fit-content;

    svg {
        fill: var(--background);
    }

    &:hover {
        color: var(--border-color);

        svg {
            fill: var(--border-color);
        }
    }


    &.secondary {
        border: 1px solid var(--border-color);
        color: var(--foreground);
        background-color: var(--background);

        svg {
            fill: var(--foreground);
        }

        &:hover {
            background-color: var(--border-color);
            color: var(--foreground);
        }
    }

    &.tertiary {
        border: none;
        padding: 0;
        color: var(--foreground);
        font-weight: 500;
        background-color: transparent;
        font-size: 0.9rem;
        opacity: 0.8;

        svg {
            fill: var(--foreground);
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 10px;
    font-size: 0.9rem;
    width: 100%;
    box-sizing: border-box;
    background: none;
    color: var(--foreground);
    font-family: "Switzer", sans-serif;
}

::placeholder {
    color: #888; // Gris clair pour les placeholders
}

#transition-element {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--foreground);
    z-index: 10;
    top: 0;
    left: 0;
}

.themebutton {
    border-radius: 80%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 14px;
    height: fit-content;
    display: flex;
    height: 48px;
    width: 48px;
    justify-content: center;
    align-items: center;
}